body {
    background-color: black;
}
.teste{
    text-align: left;
    font-family: cursive;
    font-size: 30px;
    color: white;
    text-decoration: underline; 
}
.fixed{
    font-size: 30px;
    height: 810px;
    width: 700px;
    position: fixed;
    bottom: 60px;
    left: 32px;
    color: aqua;
    font-family: cursive;
    text-decoration: underline;
}
#um{
    font-size: 30px;
    color: white;
    font-family: cursive;
    text-align: justify;
    text-decoration:underline ;
}
p{
    font-size: 100px;
    font-family: cursive;
    color: aqua;
    text-align: center;
    text-decoration: underline;
}